<div class="container" >
    <div class="toolbar" role="banner">
        <div class="navbar navbar-default ">
        <div class="container-fluid navbar-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="\">{{title}} trailers</a>
            </div>
        </div>
        <div class="navbar-form navbar-right">
            <button type="submit" class="btn btn-default"  (click)="backClicked()">Back</button>
          </div>
        </div>
    </div>
    <div *ngIf = "videos.length === 0">
        <p>
            Loading ..... 
        </p>
    
    </div>
    <div class="row"  *ngFor="let video of videos" class="col-sm-6 col-md-4 p-3" style="height:293px; padding:15px;" >
        <div *ngIf = "iframes[video.key] !== undefined">
            <iframe width="350" height="262"
                [src]="'http://www.youtube.com/embed/' + video.key + '?autoplay=1'| safe"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
            ></iframe> 
        </div>
        <div *ngIf = "iframes[video.key] === undefined">
                <img   
                style="width: 350px;height:262;" 
                src="https://i.ytimg.com/vi/{{video.key}}/hqdefault.jpg"
                (click)="showVideo(video)">
                
                <img (click)="showVideo(video)"
                    style="left: 150px; position: absolute;top: 0;bottom: 0;margin: auto; display:block; width: 70px; height:70px; " 
                    src="assets/youtube-player.png" alt="image">    
                <img (click)="share(video)"
                    style="cursor:pointer;right: 18px; position: absolute;bottom:18px;margin: auto; display:block; width: 40px; height:40px; " 
                    src="assets/facebook.png" alt="image">        
        </div>
        
    </div>
</div>