<div class="container">
    <div class="toolbar" role="banner">
        <div class="navbar navbar-default ">
          <div class="container-fluid navbar-left">
              <div class="navbar-header">
                  <a class="navbar-brand" href="\">Contact Form</a>
              </div>
          </div>
            <div class="navbar-form navbar-right" style="margin-right: 0px;">
                <button type="submit" class="btn btn-default"  [routerLink]="['/']" style="height: 36px;">Home</button>
            </div>
        </div>
    </div>
    <form [formGroup]="contactForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Name *</label>

                    <input [(ngModel)]="fullName" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" type="text"  placeholder="Please enter your firstname *">
                    <div *ngIf="submitted && f.fullName.errors" class="help-block with-errors" style="color: red;">
                        <div *ngIf="f.fullName.errors.required">Full name is required!</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input [(ngModel)]="emailAddress"  formControlName="emailAddress" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" placeholder="Please enter your email *">
                    <div class="help-block with-errors">
                        <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback" style="color: red;">
                            <div *ngIf="f.emailAddress.errors.required">Email is required!</div>
                            <div *ngIf="f.emailAddress.errors.email">Email must be a valid email address!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea [(ngModel)]="message" formControlName="message" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.message.errors }" placeholder="Message for me *" rows="4"></textarea>
                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback help-block with-errors" style="color: red;">
                        <div *ngIf="f.message.errors.required">Message is required!</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input (click)="submit()" type="submit" class="btn btn-success btn-send" value="Send message">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">
                    <strong>*</strong> These fields are required.
            </div>
        </div>
    </form>
</div>
