<div class="container" >
        <div class="toolbar" role="banner">
          <div class="navbar navbar-default ">
            <div class="container-fluid navbar-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="\">Movie Trailers</a>
                </div>
            </div>
            <div class="navbar-form navbar-right">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" (keyup)="onKey($event)"
                  />
              </div>
              <button type="submit" class="btn btn-default"  (click)="onSearchButtonClick()">Search</button>
            </div>
          </div>
        </div>
        <div *ngIf = "movies.length === 0">
            <p>
              {{getMessage()}}
            </p>
        
        </div>
        <div *ngIf = "movies.length === 0">
          <p>
            Or Try the discover feature <a [routerLink]="['/discover']">here</a>
          </p>
      
      </div>
        <div class="row"  *ngFor="let movie of movies" class="col-sm-6 col-md-4" >
            <div key={{movie.id}>
                <a [routerLink]="['/trailers',movie.id,movie.title]">
                    <div class="thumbnail" >
                    <img style="height: 476px;" src="http://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.posterPath}}"  alt="..."/>
                    </div>
                </a>
              </div>
        </div> 
  </div>
 