<div class="container" >
<div class="toolbar" role="banner">
    <div class="navbar navbar-default ">
      <div class="container-fluid navbar-left">
          <div class="navbar-header">
              <a class="navbar-brand" href="\">Discover:</a>
          </div>
      </div>
      <div class="navbar-form navbar-left" style="width :300px;">
        <ng-multiselect-dropdown
            [placeholder]="'Select Genres'"
            [data]="genres"
            [(ngModel)]="selectedGenres"
            [settings]="dropdownSettings"
            (onFilterChange)="onFilterChange($event)"> 
          </ng-multiselect-dropdown>
      </div>
      <div class="navbar-form navbar-left" style="width :300px;">
        <ng-multiselect-dropdown
            [placeholder]="'Select Keyword'"
            [data]="keywords"
            [(ngModel)]="selectedKeywords"
            [settings]="dropdownSettings"
            (onFilterChange)="onKeywordFilterChange($event)"> 
          </ng-multiselect-dropdown>
      </div>
      <div class="navbar-form navbar-left">
        <div class="form-group">
            <input [value]="year"  type="number" class="form-control" placeholder="Year" style="margin-right: 15px; height: 36px;" />
        </div>
      </div>
      <div class="navbar-form navbar-right" style="margin-right: 0px;">
        <button type="submit" class="btn btn-default"  style="width:80px;height: 36px; margin-right: 2px;" (click)="onSearchButtonClick()">Search</button>
        <button type="submit" class="btn btn-default"  [routerLink]="['/']" style="height: 36px;">Home</button>
      </div>
    </div>
    </div>

    <div *ngIf = "movies.length === 0">
      <p>
        {{getMessage()}}
      </p>
  
    </div>
  <div class="row"  *ngFor="let movie of movies" class="col-sm-6 col-md-4" >
      <div key={{movie.id}>
          <a [routerLink]="['/trailers',movie.id,movie.title]">
              <div class="thumbnail" >
              <img style="height: 476px;" src="http://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.posterPath}}"  alt="..."/>
              </div>
          </a>
        </div>
  </div> 
</div>